body {
  position: relative;
  color: white;
  height: 100vh;
  background: linear-gradient(
    200.96deg,
    #fedc2a -29.09%,
    #dd5789 51.77%,
    #7a2c9e 129.35%
  );
  font-family: sans-serif;
  overflow-y: hidden;
  font-size: 24px;
}

.add-todo-button {
  background-color: #da568a;
  color: white;
  border: none;
  padding: 8px;
  border-radius: 4px;
  appearance: none;
  font-size: 24px;
  transition: all ease-in 0.1s;
  cursor: pointer;
  opacity: 0.9;
  line-height: 1;
  min-width: 64px;
}

.add-todo-button:hover {
  background-color: #e47474;
  opacity: 1;
  transform: scale(1.05);
  transition-duration: 0.1s;
}

.input-field {
  width: 100%;
  display: flex;
  justify-content: center;
  opacity: 0.95;
}

.input-field input {
  width: 100%;
  padding: 8px;
  margin-right: 4px;
  border-radius: 4px;
  border: none;
  font-size: 24px;
  background-color: #fff;
  color: #000;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 400px;
  margin: 40px auto;
}

.todo-item {
  transition: all 0.2s ease;
  padding: 8px;
  border-radius: 4px;
  background-color: #fff1;
  margin-bottom: 8px;
  list-style: none;
}

.todo-item.dragging {
  background-color: #f0f8ff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: rotate(1deg);
}

.todo-item > li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todo-list li {
  line-height: 2;
}

.todo-list li input, 
.todo-list li span {
  cursor: pointer;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  height: fit-content;
  width: fit-content;
  margin: 8px;
}

a:hover {
  opacity: 1;
  text-decoration: none;
}

.Hello {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 24px 0;
}

.checked {
  text-decoration: line-through;
  opacity: 0.5;
}

.delete-button {
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 24px;
}